# --- Python & Environnements ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv
*.egg-info/
dist/
build/

# --- IDE (VS Code, PyCharm) ---
.idea/
.vscode/
.DS_Store

# --- Terraform (Infrastructure) ---
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
terraform.exe

# --- Secrets & Fichiers Générés ---
.env
terraform/terraform.tfvars
airflow/config/variables.json

# --- Data & ML Flow ---
postgres-db-volume/
*.ipynb_checkpoints
mlruns/
models/

# --- Logs ---
*.log